body {
    margin: 0;
    padding: 0;
}

.fw-bold{
    font-weight: 500!important;
}

.text-center{
    text-align: center!important;
}

.text-white{
    color: #ffffff!important;
}

.text-orange{
    color: #e8bf62!important;
}

.menu-section-top{
    margin-top: 40px;
}

.width-500{
    width: 700px;
    max-width: 100%!important;
    margin: auto;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-orange{
    background-color: #e8bf62!important;
}

.hor-bar{
 width: 60px;
 height: 1px;
}

.mt-5{
    margin-top: 50px;
}

.mt-2{
    margin-top: 30px;
}

.mx-2{
    margin: 0 30px;
}

.fs-2{
    font-size: 40px!important;
}



.menu-section {
    display: flex; 
    background-color: #0F0F0F;
    padding: 40px 110px;
}

.menu-left {
    flex: 1; 
    display: flex;
    justify-content: space-between; 
}

.menu-plat {
    flex: 1; 
    display: flex;
    justify-content: space-between; 
    overflow: hidden;
}
.menu-plat img {
    max-width: 600px; 
    max-height: 600px;
    margin-right: 20px;
}

.scal{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.menu-plat:hover img{
    transform: scale(1.1);
}

.menu-left img {
    margin-right: 20px; 
}

.menu-left img:nth-child(1) {
    max-width: 100%!important; 
    width: 300px; 
    height: 400px;
    margin-right: 20px; 
}
.menu-left img:nth-child(2) {
    max-width: 100%!important; 
    width: 300px; 
    height: 500px;
    margin-right: 20px; 
}

.menu-right {
    flex: 1; 
}

.menu-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.menu-item h4 {
    font-size: 20px;
    margin: 0;
    color: #e8bf62;
}

.menu-item p {
    font-size: 16px;
    color: #666;
}

.price {
    display: inline-block;
    font-weight: 500;
    color: #e8bf62;
}

.text-center{
    text-align: center!important;
}
.text-start{
    text-align: left!important;
}
.text-end{
    text-align: right!important;
}


.entree{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-family: var(--nav-font);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 20px;
}

.img-mobile{
    display: none;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

@media screen and (max-width: 925px) {
.menu-section {
        display: flex;
        flex-direction: row; 
        padding: 40px 10px;
    }

    .img-mobile{
        display: block;
    }

    .menu-left {
        display: none;
        max-width: 100%;
    }

    .menu-item {
        text-align: center; 
    }

    .menu-item img {
        max-width: 100%; 
        margin: 10px auto; 
    }

    .centered-h4 {
        text-align: center; 
    }

    .entree {
        text-align: center; 
    }

    .menu-right {
        max-width: 100%;
    }

}

@media screen and (max-width: 300px) {
    .button-menu, .button-menu-out {
    display: none
  }
}